body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 46px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#dbdbdb;}


.listtabel{
    position:relative;
    width:100%;
    margin-top:2px;
    border-collapse:collapse;
    border-spacing:0px 20px;

}
.listtabel tr td{
    border-bottom: 1px solid #cdcdcd;
    width:44px;
    height:44px;
    text-indent: 5px;
}
.listtabel tr td h6{
    width:44px;
    height:44px;
    float: right;
    line-height: 44px;
    text-align: right;
    font-size: 16px;
}
.listtabel tr td p{
    height:20px;
    font-size:12px;
    line-height: 20px;
    color:＃1e1e1e;
	text-align:left;

}
